:root {
  --page-width: 980px;
  --color-primary: #333333;
  --color-background: #ffffff;
  --color-border: #333333;
}

html {
  scroll-behavior: smooth;
  /* Makes 1rem = 10px, simplifying math for other elements */
  font-size: 62.5%;
  margin: 0;
  background-color: var(--color-background);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-primary);
  letter-spacing: 0.02rem;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  max-width: var(--page-width);
}

h2 {
  font-size: 3.8rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

section {
  margin: 0 auto;
  padding: 0 8rem;
  padding-top: 8rem;
  max-width: var(--page-width);
}

.page-width {
  max-width: var(--page-width);
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0;
  min-height: 100vh;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6rem;
  letter-spacing: 0.0rem;
  margin: 0;
}

#band-name {
  font-size: 9rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
}

.border-bottom {
  border-bottom: 6px solid var(--color-primary);
}

#landing-text {
  margin-right: auto;
  /* padding-bottom: 2rem; */
  background-color: var(--color-background);
}

#arrow {
  position: absolute;
  bottom: 2rem;
  left: 80%;
  transform: translateX(-50%);
}

#arrow a img {
  filter: invert(1);
  width: 6rem;
  height: 6rem;
  animation: bounce 2s infinite;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  margin-left: 2rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: inherit;
}

nav ul li a:visited {
  color: inherit;
}

#landing-images-container {
  display: flex;
  gap: 1rem;
  background-color: black;
  padding: 2rem;
  max-width: var(--page-width);
  margin: 0 auto;
}

#landing-images-container img {
  max-width: 100%;
  object-fit: cover;
}

#landing-images #left-images,
#landing-images #right-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#landing-images #right-images {
  gap: 1rem;
  justify-content: space-around;
}

#yt-iframe {
  width: 100%;
  max-width: var(--page-width);
  margin: 0 auto;
  height: 500px;
}

#instagram .embedded-media {
  margin: 0 auto;
}

#contact a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.4rem;
  color: var(--color-primary);
}