html {
  /* Makes 1rem = 10px, simplifying math for other elements */
  font-size: 62.5%;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

h1 {
  /* font-family: 'Oswald', sans-serif; */
  font-size: 7rem;
  margin: 0;
}

#landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-left: 4rem;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  margin-left: 2rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: inherit;
}

nav ul li a:visited {
  color: inherit;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

section {
  min-height: 100vh;
  /* max-width: 70vw; */
  margin: 0 5vw;
}